name: Run tests
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '3 2 * * SUN'
permissions: {}
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [18, 20, 22]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.version }}
      - run: pnpm install --frozen-lockfile
      - run: pnpm test --coverage
      - run: pnpm run build
